<section id="skills" class="skills-section">
    <h2>Skills</h2>
        
    <ul class="skill-categories">
        {% for skill in site.skills %}
          <li>
            <div class="skills-card">
              <span class="category-label">{{ skill.category}}</span>
            
              <ul class="skills-list">
                {% for skill in skill.tools %}
                  <li class="skill">
                    {{ skill }}
                  </li>
                {% endfor %}
                </ul>
            </div>
            
          </li> 
        {% endfor %}
      </ul>

</section>

<section class="skills-section">
  <h2>Workshops</h2>

  <ul class="skill-categories">
      
    <li>
      <div class="skills-card">
        <span class="category-label">UVM Verification Workshop</span>
      
        <ul class="skills-list">     
            <li class="skill">
              2025
            </li>
        </ul>
      </div>
    </li>

  </ul>

  
</section>

<section class="skills-section">
  
  <h2>Conferences</h2>

  <ul class="skill-categories">
      
    <li>
      <div class="skills-card">
        <span class="category-label">Golab</span>
      
        <ul class="skills-list">
                      
            <li class="skill">
              2017
            </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="skills-card">
        <span class="category-label">Golab+RustLab</span>
      
        <ul class="skills-list">
                      
            <li class="skill">
              2023
            </li>
            <li class="skill">
              2024
            </li>
        </ul>
      </div>
    </li>  
    <li>
      <div class="skills-card">
        <span class="category-label">Devfest</span>
      
        <ul class="skills-list">
                      
            <li class="skill">
              2022
            </li>
        </ul>
      </div>
    </li> 
    <li>
      <div class="skills-card">
        <span class="category-label">MakerFaire</span>
        <ul class="skills-list">
            <li class="skill">
              2019
            </li>
        </ul>
      </div>
    </li> 
  </ul>

</section>